html {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.header {
  color: white;
  background-image: url(../the-flatiron-building.png)
}
